
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('sanrio.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
.logo {
    text-align: left;
    margin: 55px;
    position: absolute;
}

.logo img {
    width: 80px;
    height: 70px;
}
.main {
    position: absolute;
    top: 70px;
    right: 180px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 50px;
}

ul li {
    display: inline;
}

a {
    text-decoration: none;
    color: blueviolet;
    font-size: 25px; 
  
}

a:hover {
    text-decoration: underline;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 130px;
}

#About {
  
    margin-right: 20px;
}

#About h1 {
    font-size: 32px;
    margin-bottom: 10px;
    color: #333;
}

#About p {
    font-size: 18px;
    color: #555;
}

.jojo img {
    width: 320px;
    border-radius: 10px;
}
